* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    background-image: url("./img/azul-bg.jpg");
    background-size: 45% 55%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    background-color: white;
    display: flex;
}

.container {
    flex-direction: column;
}

.container-direito {
    margin: 0px auto;
    margin-left: 50%
}

.container-logo {
    width: 130px;
    height: 35px;
}